.weather-app {
    max-width: 500px;
    margin: 0 auto;
    background: url("content/common.jpg");
    background-size: cover;
    height: 600px;
    text-align: center;
    font-family: 'Cinzel';
    font-size: 20px;
    color: #fff;
}
.weather-app__search {
    padding: 50px 0 20px;
}
.weather-app__search-btn {
    display: block;
    margin: 20px auto 0;
    font-family: 'Cinzel';
    font-size: 10px;
    outline: none;
    border: none;
}
.weather-app__search-btn:active {
    background: #dbdbdb;
}
.weather-app__search_input {
    width: 60%;
    font-family: 'Cinzel';
    padding: 10px 0px;
    outline: none;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #585858;
    text-transform: uppercase;
}
.weather-app__content_item {
    margin-bottom: 20px;
}
.weather-app__content_location {
   font-size: 30px
}
.weather-app__content_temp {
    font-size: 55px;
    font-family: 'Bodoni Moda';
}
.weather-app__content_temp_scale {
    font-size: 40px;
    font-weight: 300;
}

.hidden {
    display: none;
}
@media screen and (max-width: 500px) {
    .weather-app {
        height: 500px;
    }
    .hidden {
        display: block;
    }
    .weather-app__search_input{
        font-size: 15px;
    }
    .weather-app__content_temp{
        font-size: 40px;
    }
}